---
import { ThemeProvider } from '../components/theme-provider';
import '../styles/globals.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Interactive Map</title>
	</head>
	<body>
		<ThemeProvider client:load>
			<slot />
		</ThemeProvider>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
